* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
}

.welc-text {
    background: rgb(224, 222, 219);
    text-align: center;
}

.welc-h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.welc-h2 {
    padding-bottom: 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #141414;
}

.footer_text {
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: small;
}

.footer__svg {
    height: 30px;
    filter: invert(1);
}

.footer_link {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.contact_li:hover {
    border: none;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1rem;

}

.contact_li {
    border: none;
}

.input-wrap {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inp_home {
    margin-top: 2rem;
    color: black;
    width: 20rem;
    padding-top: 15px;
    padding-left: 6px;
    padding-bottom: 15px;
    border-radius: 8px;
    border: 1px solid rgb(194, 169, 169);

}

.id-link {
    color: black;
}

.id-btn {
    border: 0;
    background: white;
}

.inp_home:focus {
    outline: none;
}

.sub-btn {
    border: none;
}

button {
    cursor: pointer;
}

.logo-search {
    position: absolute;
    width: 2vw;
    bottom: 6px;
    right: 6px;
}

.inp-contain {
    position: relative;
}

.btn-rcmnd {
    margin-top: 5rem;
    background-color: rgb(92, 92, 218);
    color: white;
    border: 0;
    font-size: 18px;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;

}

.rcmnd-contain {
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rcmnd-head-text {
    text-align: center;
    margin-top: 2rem;
}

.mov-contain {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8rem;
}

.mov-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: calc(100% / 3);
    margin-bottom: 4rem;
}

.poster {
    width: 100%;
    max-width: 10vw;
    max-height: 240px;

}

.id-link {
    text-align: center;
}

.title {
    font-size: large;
    font-weight: 500;
    margin-top: 1rem;
}

.hover-mov:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.cm-main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 300px;
}

.cm-title {
    font-size: 42px;
    font-weight: 450;
    max-width: 400px;
    white-space: nowrap;
}

.mov-info {
    margin-bottom: 0.25rem;
    color: #353030;
    font-weight: 450;
}

.cm-poster {
    width: 100%;
    max-width: 350px;
}

.cm-wrap {
    display: flex;
}

.ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imdb-rating {
    font-size: 20px;
    font-weight: normal;
    white-space: nowrap;
}

.star {
    max-width: 2vw;
    margin-right: 0.75rem;
}

.rt {
    display: flex;
}

b {
    font-weight: 600;
    white-space: nowrap;
}

.mov-btns {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    align-self: center;
}

.btn-strm {
    margin-bottom: 4rem;
    border: none;
    width: 14rem;
    height: 4rem;
    font-size: 20px;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    background: #993535;
}

.btn-watch:hover,
.btn-strm:hover {
    border-radius: 6px;
    transition: all 300ms ease-in-out;
}

.btn-watch:hover .btn-svg {
    filter: invert(0);
    transition: all 300ms ease-in-out;


}

.btn-strm:hover .btn-svg {
    filter: invert(0);
    transition: all 300ms ease-in-out;

}

.btn-watch {
    border: none;
    width: 14rem;
    height: 4rem;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    background: #353030;
}

.btn-text {
    font-size: 20px;
    font-weight: 500;
    padding-left: 18px;
    transition: all 300ms ease-in-out;

}


.btn-svg {
    filter: invert(1);
    width: 2rem;
    margin-left: 10px;

}

.mov-plot {
    width: 50%;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plot-h5 {
    font-size: 18px;

    font-weight: normal;
    color: black;

}

hr {
    border-color: hsla(0, 0%, 100%, .6);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mov-ppl {
    display: flex;
    flex-direction: column;
}

h5 {
    font-size: 16px;
    font-weight: 600;
}

.mov-not-fnd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mov-not-txt {
    font-size: 30px;
    margin-bottom: 8rem;
}

.rbtn {
    margin-left: 10rem;
}

.hover-mov {
    text-align: center;
}
@media (max-width: 768px) {
    .lists {
      width: 35%;
    }
    .logo-search{
        width: 4vw;
    }
    .btn-rcmnd{
        margin-top: 2.5rem;
    }
    .mov-contain{
        margin-top: 3rem;
    }
    .poster{
        width: 16vw;
        max-width: 16vw;
    }
    .cm-poster{
        width: 200px;
    }
    .cm-title{
        font-size: 30px;
    }
    .mov-btns {
        margin: 0;
    }
    .plot-h5{
        font-size: 14px;
    }
    .mov-plot{
        padding-left: 1rem;
    }
    .cm-main{
        width: 90%;
    }
   .btn-strm , .btn-watch{
    width: 10rem;
    height: 3rem;
    margin-left: 0.5rem;
   }
   .btn-text{
    font-size: 14px;
    padding-left: 4px;
   }
   .btn-svg{
    width: 1.5rem;
   }
   h5{
    font-size: 12px;
   }
   hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
   }
   .star{
    width: 4vw;
    max-width: 12vw;
   }
   

  }
  @media (max-width: 425px) {
    .lists{
        width: 50%;
    }
    h1{
        font-size: 1rem;
    }
    .logo-search{
        width: 8vw;
    }
    .welc-h2{
        font-size: 1em;
    }
    img{
        width: 12vw;
    }
    .mov-contain{
        width: 95%;
        }
    .mov-wrap{
        width: calc(100%/2);
    }
    .poster{
        width: 26vw;
        max-width: 26vw;
    }
    .cm-main{
        width: 95%;
    }
    .cm-title{
        font-size: 24px;
    }
    .cm-poster{
        width: 250px;
    }
    .cm-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mov-btns{
        flex-direction: row;
        margin-top: 1rem;
        position: relative;
    }
    .ratings{
        position: absolute;
        bottom: 0;
        top: 10rem;
        right: 0;
        left: 0;
        z-index: -1;
    }
    .cm{
        text-align: center;
    }
    .cm-title{
        font-size: 26px;
    }
    .mov-plot{
        width: 90%;
        margin-top: 2rem;
    }
  }
  @media (max-width: 320px) {
.lists{
    width: 60%;
    font-size: 12px;
}
.inp_home{
    width: 16rem;
}
h1{
    font-size: 0.75rem;
}
.mov-wrap{
    width: 100%;
}
.poster{
    width: 100%;
    max-width: 100%;
}
.rcmnd-head-text{
    font-size: 1rem;
}
.mov-contain{
    margin-top: 1.5rem;
}
.btn-strm, .btn-watch{
    width:8rem ;
}
.btn-watch{
    margin-left: 1rem;
}
.cm-wrap{
    width: 100%;
}
.mov-plot{
    width: 100%;
}
  }
  @media (max-width: 1024px){
    .cm-main{
        width: 95%;
    }
    .mov-btns{
        margin-left: 1rem;
    }
    .mov-plot{
        padding-left: 2rem;
    }
  }